html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #ccb4c2;
}

header{
   
    width: 100%;
    max-width: 150px;
    margin: auto;
    margin-top: 100px;
    /* transition: all 400ms ease; */
    background: rgb(231, 141, 141);
}
.container{
    width: 95%;
    max-width: 2000px;
    margin: auto;
    margin-top: 100px;
}
.lbl-menu{
    background: rgb(197, 48, 110);
}
.lbl-menu label{
    display: inline-block;
    padding: 20px;
    color: rgb(8, 8, 8);
    cursor: pointer;
    transition: all 400ms ease;
}
.lbl-menu label:hover{
    background: #ab6ab8;
}
.content{
    position: relative;
}
.content div{
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    background: rgb(207, 118, 147);
    padding-bottom: 40px;
}
#radio1,#radio2,#radio3,#radio4,#radio5,#radio6,#radio7,#radio8,#radio9,#radio10,#radio11,#radio12,#radio13,#radio14,#radio15{
    display: none;
}
#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4,
#radio5:checked ~ .tab5,
#radio6:checked ~ .tab6,
#radio7:checked ~ .tab7,
#radio8:checked ~ .tab8,
#radio9:checked ~ .tab9,
#radio10:checked ~ .tab10,
#radio11:checked ~ .tab11,
#radio12:checked ~ .tab12,
#radio13:checked ~ .tab13,
#radio14:checked ~ .tab14,
#radio15:checked ~ .tab15
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.content div:after{
    position: absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: 100%;
    left: 28px;
}
.content .tab2:after{
    left: 120px;
}
.content .tab3:after{
    left: 230px;
}
.content .tab4:after{
    left: 340px;
}
.content .tab5:after{
    left: 450px;
}
.content .tab6:after{
    left: 560px;
}
.content .tab7:after{
    left: 660px;
}
.content .tab8:after{
    left: 770px;
}
.content .tab9:after{
    left: 900px;
}
.content .tab10:after{
    left: 1040px;
}
.content .tab11:after{
    left: 1160px;
}
.content .tab12:after{
    left: 1270px;
}
.content .tab13:after{
    left: 1375px;
}
.content .tab14:after{
    left: 1460px;
}
.content .tab15:after{
    left: 1550px;
}

nav {
    width: 150%;
    max-width: 100px;
    margin: auto;
    margin-top: 250px;
}